.Gallery_section{
    margin: 60px 0px;
}

.main-container{
    display: grid;
    grid-template-columns: repeat(3,278px);
    text-align: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
    background: ghostwhite;
    margin: 30px 204px;
    border-radius: 30px;
}

.shoe-container{
    text-align: center;
    display: grid;
    border-radius: 16px;
    font-size: 20px;
    padding: 20px;
    color: black;
}

.Shoe_heading{
    padding-left: 83px;
    padding-top: 20px;
    color: white;
}



/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {

}

/* For medium devices */
@media screen and (max-width: 576px) {
    .main-container{
        grid-template-columns: repeat(1,300px);
        justify-content: center;
        margin: 20px;
        }
    
}

/* For small devices */
@media screen and (max-width: 375px) {
    .main-container{
    grid-template-columns: repeat(1,300px);
    justify-content: center;
    }
}


